doctype html
html(lang="zh-CN")
	head
		title #{blog.title} - #{head.title}

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="renderer" content="webkit")

		meta(name="theme-color" content="#222325")
		meta(name="apple-mobile-web-app-status-bar-style" content="#222325")
		meta(name="msapplication-navbutton-color" content="#222325")

		link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/SimonAKing/font/font.min.css")
		link(rel="stylesheet" href="../css/style.css")

		meta(name="description" content=`${blog.description}`)
		link(rel="icon" href=`../${head.favicon}` type="image/x-icon")
		link(rel="shortcut icon" href=`../${head.favicon}` type="image/x-icon")

	body
		.page-container
			nav.page-nav
				a.back-home(href="../")
					span ← 返回首页

			.page-header
				h1.page-title #{blog.title}
				p.page-desc #{blog.description}

			.page-content
				.post-list
					each post in blog.posts
						.post-item
							a.post-link(href=post.link target="_blank")
								h3.post-title #{post.title}
								p.post-summary #{post.summary}
								span.post-date #{post.date}
